@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* MELHORIA:
  - Adiciona rolagem suave para navegação em âncoras (#).
  - Adiciona transições suaves para todos os elementos (hover, etc).
*/
@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply transition-all duration-150 ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;  /* Força o fundo branco mesmo em dark mode */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}